name: ci
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: latest
      - uses: leafo/gh-actions-lua@v12
      - uses: leafo/gh-actions-luarocks@v6
      - run: make lint
      - run: make test
