name: tocbump

on:
  schedule:
    - cron: "30 */6 * * *"

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          # needed for the action to be able trigger other actions, e.g the release
          # https://github.com/orgs/community/discussions/27028#discussioncomment-3254367
          ssh-key: ${{ secrets.DEPLOY_KEY }}
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: make toc
      - run: |
          if [[ $(git status --porcelain --untracked-files=no) ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git commit -am "update toc"
            make patch
            git push --tags origin master
          else
            echo "Nothing to commit"
          fi
